<!DOCTYPE HTML>
<html>
<head>
  	<title>Rock Paper Scissors Lizard Spock</title>
 	<link rel="stylesheet" type="text/css" href="css/reset.css">
  	<link rel="stylesheet" type="text/css" href="css/styles.css">	
</head>
<body>
	<header>
		<h1> Rock, Paper, Scissors,<br>
				Lizard, Spock.</h1>
	</header>
	<main class="image-container">
			<div class="img"><img id="rock" src="img/rock.png" alt="rock"></div>
			<div class="img"><img id="paper" src="img/paper.png" alt="paper"></div>
			<div class="img"><img id="scissors" src="img/scissors.png" alt="scissors"></div>
			<div class="img"><img id="lizard" src="img/lizard.png" alt="lizard"></div>
			<div class="img"><img id="spock" src="img/spock.png" alt="spock"></div>
	</main>
	<form id="name-input">
		<input type="text" id="name" placeholder="Enter your name...">
		<input type="submit" class="submit-button" value="Play!">
	</form>
	<script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
  	<script type="text/javascript" src="js/rps.js"></script>
  	<script>
  		
  	</script>
</body>

</html>