<!DOCTYPE HTML>
<html>
<head>
  	<title>Rock Paper Scissors Lizard Spock</title>
 	<link rel="stylesheet" type="text/css" href="css/reset.css">
  	<link rel="stylesheet" type="text/css" href="css/styles.css">	
</head>
<body>
	<header>
		<h1> Rock, Paper, Scissors,<br>
				Lizard, Spock.</h1>
		<h2 id="greeting"></h2>
		<h2 id="result"></h2>
		<h2 id="choices"></h3>
	</header>
	<main class="image-container">
			<div class="img-layout"><img data-gesture="rock" src="img/rock.png" alt="rock" class="img-choice"></div>
			<div class="img-layout"><img data-gesture="paper" src="img/paper.png" alt="paper" class="img-choice"></div>
			<div class="img-layout"><img data-gesture="scissors" src="img/scissors.png" alt="scissors" class="img-choice"></div>
			<div class="img-layout"><img data-gesture="lizard" src="img/lizard.png" alt="lizard" class="img-choice"></div>
			<div class="img-layout"><img data-gesture="spock" src="img/spock.png" alt="spock" class="img-choice"></div>
	</main>
	<form id="name-input">
		<input type="text" id="name" placeholder="Enter your name...">
		<input type="submit" class="submit-button" value="Play!">
	</form>
	<script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
  	<script type="text/javascript" src="js/rps.js"></script>
  	<script type="text/javascript" src="js/game.js"></script>
  	
  	<script>
  	$(document).ready(function() {
  		$('#name-input').on('submit', function(event) {
  			event.preventDefault();

  			$('#greeting').text("Hey " + $('#name').val() + "! Choose your weapon:")
  		});



  	});
  	</script>
</body>

</html>